<div class="container">
  <h1 class="text-center text-dark my-5">Our Wikinimuous articles</h1>
  <div class="list-group">
      <% @articles.each do |article| %>
        <a href="<%= article_path(article) %>" class="my-2 p-4 list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-4"><%= article.title %></h5>
            <small><%= (Date.today - article.created_at.to_date).to_i %> days ago</small>
          </div>
          <p class="mb-1"><%= article.content.first(200) %> ...</p>
        </a>
    <% end %>
  </div>
</div>
